# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

/shared
/node_modules
/public/css
/public/js
/public/_themes/willamette/css
/public/_themes/willamette/js
/bower_components
.tags*
/public/assets/img/cache/
