.rsvp-form {
    label {
        color: $color-rsvp-text;

        &[for] {
            cursor: not-allowed;
        }
    }

    input:disabled {
        cursor: not-allowed;
    }

    .ss-required-asterisk {
        color: $color-rsvp-button;
    }

    .ss-secondary-text {
        font-size: small;
        margin-top: -1rem;
    }
}
